body {
  margin: 0px;
}

.wrap {
  width: 500px;
  background-color: indianred;
  height: 550px;
}

.input-email input {
  padding: 10px 150px 10px 10px;
}

.input-firstname input {
  padding: 10px 0px 10px 10px;
}

.input-lastname input {
  padding: 10px 0px 10px 10px;
}
