.container {
  width: 800px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: royalblue;
}

.left-menu {
  width: 20%;
  height: 400px;
  background-color: khaki;
  /* inline-block 헬...공백제거, 글씨가 발작함 */
  display: inline-block;
  vertical-align: top;
  /* float: left; */
}

.right {
  width: 80%;
  height: 400px;
  background-color: lightgreen;
  display: inline-block;

  /* float: left; */
}

.footer {
  width: 100%;
  height: 100px;
  background-color: slateblue;

  /* clear: both; */
}
